footer {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  clear: both;
  text-align: center;
}

.footer {
  height: 35px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-top: 2px solid #37a697;

  > p {
    margin: auto;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.85);
  }
}
