<div class="container-content">
  <div class="frame text-center darkModeAuto">
    <div class="container-header">
      <h2>Newsletter</h2>
    </div>

    <div class="container-bottom">
      <div class="container-bottom-right">
        <h2>Infos loi montagne</h2>
        <p class="text">Pour limiter les embouteillages sur les routes dans les régions montagneuses et améliorer la
          sécurité des usagers, il faudra équiper sa voiture de pneus hiver ou détenir des chaînes dans son coffre en
          période hivernale dans certaines communes. L'obligation entrera en vigueur au 1er novembre 2021. Quels sont les
          véhicules et les départements concernés ? Chaînes, pneus hiver, pneus cloutés ou à crampons, quels sont les
          équipements obligatoires ? Prise en application de la loi Montagne II du 28 décembre 2016, le décret est paru au
          Journal officiel le 18 octobre 2020.</p>
        </div>
    </div>
  </div>
</div>
