.form {
  // width: 400px;
  // height: 400px;
  max-width: fit-content;
  margin: auto;
  padding: 25px;

  p:first-child {
    margin-top: 5px;
  }
}

// .form-item-group {
// display: flex;
// flex-direction: row;
// align-items: center;
// justify-content: center;
// gap: 10px;
// flex-wrap: wrap;
// }
